---
const currentYear = new Date().getFullYear();
---

<footer class="footer-center footer block px-6 pt-10 pb-8">
  <div class="pb-2">&copy; {currentYear} Meng Lei</div>
  <div class="inline opacity-75">
    Built with <span class="font-semibold">Astro</span>,
    <span class="font-semibold">Tailwind CSS</span>, and
    <span class="font-semibold">DaisyUI</span>.
  </div>
</footer>
